<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jy.mapper.EmployeeMapper" >
  <resultMap id="BaseResultMap" type="cn.jy.entity.Employee" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="login_code" property="loginCode" jdbcType="VARCHAR" />
    <result column="invite_code" property="inviteCode" jdbcType="VARCHAR" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="BIGINT" />
    <result column="brand_id" property="brandId" jdbcType="BIGINT" />
    <result column="region_id" property="regionId" jdbcType="BIGINT" />
    <result column="department_id" property="departmentId" jdbcType="BIGINT" />
    <result column="store_id" property="storeId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="birthday" property="birthday" jdbcType="DATE" />
    <result column="idcard" property="idcard" jdbcType="VARCHAR" />
    <result column="bankcard" property="bankcard" jdbcType="VARCHAR" />
    <result column="wxcode" property="wxcode" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="work_type" property="workType" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="in_date" property="inDate" jdbcType="DATE" />
    <result column="regular_date" property="regularDate" jdbcType="DATE" />
    <result column="is_admin" property="isAdmin" jdbcType="INTEGER" />
    <result column="is_online" property="isOnline" jdbcType="INTEGER" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="groupid" property="groupid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.jy.entity.Employee" extends="BaseResultMap" >
    <result column="pic" property="pic" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, nick_name, code, login_code, invite_code, enterprise_id, brand_id, region_id, 
    department_id, store_id, `type`, role_id, `name`, phone, password, sex, birthday, idcard,
    bankcard, wxcode, qq, email, work_type, address, in_date, regular_date, is_admin, 
    is_online, `desc`, is_del, groupid, status, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    pic
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from yl_employee
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    <include refid="Base_Column_List" />
    from yl_employee
    <where>
      is_del = 0
      <if test="username != null">
        and login_code = #{username}
      </if>
      <if test="name != null">
        and `name` like CONCAT('%',#{name},'%')
      </if>
      <if test="phone != null">
        and `phone` like CONCAT('%',#{phone},'%')
      </if>
      <if test="enterprise_id != null">
        and `enterprise_id` = #{enterprise_id}
      </if>
      <if test="type != null">
        and `type` = #{type}
      </if>
      order by create_time desc
    </where>
  </select>
  <select id="findByParams" resultMap="BaseResultMap" parameterType="cn.jy.entity.Employee" >
    select
    <include refid="Base_Column_List" />
    from yl_employee
    <where>
      is_del = 0
      <if test="loginCode != null">
        and `login_code` = #{loginCode}
      </if>
      <if test="id != null">
        and id != #{id}
      </if>
    </where>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from yl_employee
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.jy.entity.Employee" >
    insert into yl_employee (id, nick_name, code, 
      login_code, invite_code, enterprise_id, 
      brand_id, region_id, department_id, 
      store_id, `type`, role_id,
      `name`, phone, password,
      sex, birthday, idcard, 
      bankcard, wxcode, qq, 
      email, work_type, address, 
      in_date, regular_date, is_admin, 
      is_online, `desc`, is_del,
      groupid, status, create_time, 
      update_time, pic)
    values (#{id,jdbcType=BIGINT}, #{nickName,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{loginCode,jdbcType=VARCHAR}, #{inviteCode,jdbcType=VARCHAR}, #{enterpriseId,jdbcType=BIGINT}, 
      #{brandId,jdbcType=BIGINT}, #{regionId,jdbcType=BIGINT}, #{departmentId,jdbcType=BIGINT}, 
      #{storeId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{roleId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{sex,jdbcType=INTEGER}, #{birthday,jdbcType=DATE}, #{idcard,jdbcType=VARCHAR}, 
      #{bankcard,jdbcType=VARCHAR}, #{wxcode,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{workType,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{inDate,jdbcType=DATE}, #{regularDate,jdbcType=DATE}, #{isAdmin,jdbcType=INTEGER}, 
      #{isOnline,jdbcType=INTEGER}, #{desc,jdbcType=VARCHAR}, #{isDel,jdbcType=INTEGER}, 
      #{groupid,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{pic,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="cn.jy.entity.Employee" >
    insert into yl_employee
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="nickName != null" >
        nick_name,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="loginCode != null" >
        login_code,
      </if>
      <if test="inviteCode != null" >
        invite_code,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="regionId != null" >
        region_id,
      </if>
      <if test="departmentId != null" >
        department_id,
      </if>
      <if test="storeId != null" >
        store_id,
      </if>
      <if test="type != null" >
        `type`,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="name != null" >
        `name`,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="birthday != null" >
        birthday,
      </if>
      <if test="idcard != null" >
        idcard,
      </if>
      <if test="bankcard != null" >
        bankcard,
      </if>
      <if test="wxcode != null" >
        wxcode,
      </if>
      <if test="qq != null" >
        qq,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="workType != null" >
        work_type,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="inDate != null" >
        in_date,
      </if>
      <if test="regularDate != null" >
        regular_date,
      </if>
      <if test="isAdmin != null" >
        is_admin,
      </if>
      <if test="isOnline != null" >
        is_online,
      </if>
      <if test="desc != null" >
        `desc`,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="groupid != null" >
        groupid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="pic != null" >
        pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="nickName != null" >
        #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="loginCode != null" >
        #{loginCode,jdbcType=VARCHAR},
      </if>
      <if test="inviteCode != null" >
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="brandId != null" >
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null" >
        #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="storeId != null" >
        #{storeId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=DATE},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="bankcard != null" >
        #{bankcard,jdbcType=VARCHAR},
      </if>
      <if test="wxcode != null" >
        #{wxcode,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        #{qq,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="workType != null" >
        #{workType,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        #{inDate,jdbcType=DATE},
      </if>
      <if test="regularDate != null" >
        #{regularDate,jdbcType=DATE},
      </if>
      <if test="isAdmin != null" >
        #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="isOnline != null" >
        #{isOnline,jdbcType=INTEGER},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        #{groupid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.jy.entity.Employee" >
    update yl_employee
    <set >
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="loginCode != null" >
        login_code = #{loginCode,jdbcType=VARCHAR},
      </if>
      <if test="inviteCode != null" >
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      </if>
      <if test="brandId != null" >
        brand_id = #{brandId,jdbcType=BIGINT},
      </if>
      <if test="regionId != null" >
        region_id = #{regionId,jdbcType=BIGINT},
      </if>
      <if test="departmentId != null" >
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="storeId != null" >
        store_id = #{storeId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="birthday != null" >
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="idcard != null" >
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="bankcard != null" >
        bankcard = #{bankcard,jdbcType=VARCHAR},
      </if>
      <if test="wxcode != null" >
        wxcode = #{wxcode,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="workType != null" >
        work_type = #{workType,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="inDate != null" >
        in_date = #{inDate,jdbcType=DATE},
      </if>
      <if test="regularDate != null" >
        regular_date = #{regularDate,jdbcType=DATE},
      </if>
      <if test="isAdmin != null" >
        is_admin = #{isAdmin,jdbcType=INTEGER},
      </if>
      <if test="isOnline != null" >
        is_online = #{isOnline,jdbcType=INTEGER},
      </if>
      <if test="desc != null" >
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="groupid != null" >
        groupid = #{groupid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.jy.entity.Employee" >
    update yl_employee
    set nick_name = #{nickName,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      login_code = #{loginCode,jdbcType=VARCHAR},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      brand_id = #{brandId,jdbcType=BIGINT},
      region_id = #{regionId,jdbcType=BIGINT},
      department_id = #{departmentId,jdbcType=BIGINT},
      store_id = #{storeId,jdbcType=BIGINT},
      `type` = #{type,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      idcard = #{idcard,jdbcType=VARCHAR},
      bankcard = #{bankcard,jdbcType=VARCHAR},
      wxcode = #{wxcode,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      work_type = #{workType,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      in_date = #{inDate,jdbcType=DATE},
      regular_date = #{regularDate,jdbcType=DATE},
      is_admin = #{isAdmin,jdbcType=INTEGER},
      is_online = #{isOnline,jdbcType=INTEGER},
      `desc` = #{desc,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      pic = #{pic,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.jy.entity.Employee" >
    update yl_employee
    set nick_name = #{nickName,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      login_code = #{loginCode,jdbcType=VARCHAR},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      enterprise_id = #{enterpriseId,jdbcType=BIGINT},
      brand_id = #{brandId,jdbcType=BIGINT},
      region_id = #{regionId,jdbcType=BIGINT},
      department_id = #{departmentId,jdbcType=BIGINT},
      store_id = #{storeId,jdbcType=BIGINT},
      `type` = #{type,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=BIGINT},
      `name` = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      birthday = #{birthday,jdbcType=DATE},
      idcard = #{idcard,jdbcType=VARCHAR},
      bankcard = #{bankcard,jdbcType=VARCHAR},
      wxcode = #{wxcode,jdbcType=VARCHAR},
      qq = #{qq,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      work_type = #{workType,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      in_date = #{inDate,jdbcType=DATE},
      regular_date = #{regularDate,jdbcType=DATE},
      is_admin = #{isAdmin,jdbcType=INTEGER},
      is_online = #{isOnline,jdbcType=INTEGER},
      `desc` = #{desc,jdbcType=VARCHAR},
      is_del = #{isDel,jdbcType=INTEGER},
      groupid = #{groupid,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="delEmployee" parameterType="java.lang.Long" >
    update yl_employee
    set is_del = 1
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>